<div class="row">

  <% @products.each do |p| %>

  <!-- Product Thumbnail -->
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">

      <%= link_to image_tag(p.photo_url),
                  "/products/#{p.id}",
                  alt: "Echo Dot", class: 'img-responsive' %>

      <div class="caption">
        <h4><%= link_to p.title, "/products/#{p.id}"%></h4>
        <p class="rating">&bigstar;&bigstar;&bigstar;&bigstar;&star;</p>
        <p>6 reviews.</p>
        <p>Sold by: <%= link_to 'Cookie Monster', '#' %></p>

        <p>
          <%= truncate p.description, length: 40 %>
          <%= link_to "[see more]", "/products/#{p.id}" %>
        </p>
        <p class="price"><%= number_to_currency(p.price / 100.0) %></p>
        <p><a href="#" class="btn btn-primary" role="button">Buy Now</a>
        </p>
      </div>
    </div>
  </div>

  <% end %>
</div>
